<!DOCTYPE html>
<html>
<head>
  <title>
    <%=title %>
  </title>
</head>
<body>
  <center>
  <% for(var i in messages) { %>
    <div class="flash"><%= messages[i] %></div>
  <% } %>
  <form action="/signup" method="post" style='margin-top:70px'>
    <div>
      <label>First Name:</label>
      <input type="text" name="firstName" />
    </div><br>
    <div>
      <label>Last Name:</label>
      <input type="text" name="lastName" />
    </div><br>
    <div>
      <label>Email:</label>
      <input type="text" name="email" />
    </div><br>
    <div>
      <label>Username:</label>
      <input type="text" name="username" />
    </div><br>
    <div>
      <label>Password:</label>
      <input type="password" name="password" />
    </div><br>
    <div>
      <input type="submit" value="Sign up" />
    </div>
  </form>
    </center>
</body>
</html>